/*
	# -> ID
	. -> Class
*/

body {
	background-color: #B9B9B9;
}

header{
	background-color: #FFFFFF;
	border-radius: 30px;
	box-shadow: 5px 5px 5px #3A2500;
	text-align: center;
}


header h1{
	font-style: italic;
	color: rgb(255,255,255);
	text-shadow: black 0.1em 0.1em 0.2em;
}


article, footer, header{
	background-color: #E3D77F;
	box-shadow: 5px 5px 5px #3A2500;
}

article{
	border-radius: 5px;
	width: 90%;
	height: 80%;
	position: relative;
	left: 5%;
}

footer{
	border-radius: 20px;
	height: 5%;
	text-align: center;	
}

.hidden{
    visibility: hidden;
}

#create-board-form-area{
    text-align: center;
}

.board{
    border-radius: 5px;
	width: 90%;
	height: 80%;
	position: relative;
	left: 5%;
    background-color: #F5F5F5;
}

#page-title h1{
	text-align: center;
}

.column{
	height:100%;
	width: -moz-fit-content;
    margin: 1%;
    float: left;
    border-radius: 10px;
    border: 2px dashed white;
    padding: 5px;
}

.column-area{
	border-radius: 5px;
	width: 90%;
	height: 80%;
	position: relative;
	left: 5%;
}


.column-title {
	font-style: italic;
}

.list-task{}

.task{
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	border-top-right-radius: 10px;
	width: -moz-fit-content;
	height: 15%;
	box-shadow: 5px 5px 5px #3A2500;
    background-color: #F7FE2E;
    padding: 3px;
    margin-bottom: 5px;
}

.task:hover{
}

